<form>
  <div>
    <label for="card-holder">cardholder name</label>
    <input id="card-holder" type="text" placeholder="e.g. Jane Appleseed" />
  </div>
  <div>
    <label for="card-number">card name</label>
    <input
      id="card-number"
      type="number"
      placeholder="e.g. 1234 5678 9123 0000"
    />
  </div>
  <div>
    <div>
      <label for="card-date">exp.date (mm/yy)</label>
      <div>
        <input id="card-date" type="number" placeholder="MM" />
        <input id="card-date" type="number" placeholder="YY" />
      </div>
    </div>
    <div>
      <label for="card-holder">cvc</label>
      <input id="card-holder" type="text" placeholder="e.g. 123" />
    </div>
  </div>
  <button type="submit">confirm</button>
</form>
